<div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
        Créer un nouvel exercice
      </h2>
    </div>
  
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form class="space-y-6" (ngSubmit)="onSubmit()">
          <div>
            <label for="exerciseName" class="block text-sm font-medium text-gray-700">
              Nom de l'exercice
            </label>
            <div class="mt-1">
              <input id="exerciseName" name="exerciseName" type="text" autocomplete="off" required
                [(ngModel)]="exercice.name"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
            </div>
          </div>
  
          <div>
            <label for="exerciseDescription" class="block text-sm font-medium text-gray-700">
              Description de l'exercice
            </label>
            <div class="mt-1">
              <textarea id="exerciseDescription" name="exerciseDescription" autocomplete="off" required
                [(ngModel)]="exercice.description"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
            </div>
          </div>
  
          <div class="flex flex-col gap-4">
            <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-500 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              Créer l'exercice
            </button>
            <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-500 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" routerLink="/programs-page">
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  