<div
  *ngIf="showLandingPage"
  class="flex flex-col justify-center items-center h-screen gap-4"
>
  <div
    class="flex justify-center items-center flex-col gap-5 text-center shadow-2xl bg-white p-4 rounded-xl w-[400px]"
  >
    <h4 class="text-xl text-gray-700 font-bold text-center">
      Bienvenue sur l'application de sport
    </h4>
    <a
      routerLink="/inscription"
      routerLinkActive="active"
      class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >Inscription</a
    >
    <a
      routerLink="/connexion"
      routerLinkActive="active"
      class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >Connexion</a
    >
  </div>
  <div
    class="flex justify-center items-center flex-col gap-5 text-center shadow-2xl bg-white p-4 rounded-xl w-[400px]"
  >
    <h4 class="text-xl text-gray-700 font-bold text-center">Coach sportif?</h4>
    <a
      routerLink="/inscription-coach"
      routerLinkActive="active"
      class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >Rejoindre nos équipes</a
    >
  </div>
</div>
<div *ngIf="!showLandingPage">
  <app-connexion></app-connexion>
</div>
