<div class="pb-20">
    <app-navbar></app-navbar>

    <div class="rounded-lg shadow-lg mt-5 p-6 mx-5 bg-slate-700 lg:w-[700px] lg:flex lg:flex-col lg:items-center lg:mr-auto lg:ml-auto xl:w-[900px]" *ngIf="isCoach">
        <h3 class="font-bold text-lg tracking-widest uppercase text-center text-white mb-4">Coin du Coach
        </h3>
        <div class="flex flex-col lg:flex-row gap-4">
            <button
                class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" routerLink="/app-exercise-editor">
                Exercices
            </button>
            <button
            class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" routerLink="/app-programme-editor">
            Programmes
        </button>
        </div>
    </div>

    <app-programme-du-moment></app-programme-du-moment>
    <app-search-bar></app-search-bar>

    <div class="my-4 lg:ml-24">
        <h3 class="font-bold text-lg tracking-widest uppercase text-center text-white pt-5">Programmes Favoris
        </h3>
        <div class="flex overflow-x-auto flex-nowrap">
            <ng-container *ngFor="let program of getFavoritePrograms(programs)">
                <app-programs [programs]="program" class="min-w-[350px]"></app-programs>
            </ng-container>
        </div>
    </div>

    <div class="my-4 lg:ml-24">
        <h3 class="font-bold text-lg tracking-widest uppercase text-center text-white pt-5">Programmes populaires
        </h3>
        <div class="flex overflow-x-auto flex-nowrap">
            <ng-container *ngFor="let program of programs">
                <app-programs [programs]="program" class="min-w-[350px]"></app-programs>
            </ng-container>
        </div>
    </div>
</div>
