
<app-navbar></app-navbar>
<div class="min-h-screen flex flex-col justify-center sm:px-6 lg:px-8">
    
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-center text-3xl font-extrabold text-white">
      Leader Board
    </h2>
  </div>

  <div class="mx-5">
    <div class="mt-8 w-full md:w-[700px] rounded-xl ml-auto mr-auto">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 rounded-xl">
        <h2 class="text-center text-2xl font-extrabold text-gray-700 pb-2">
          Ajouter un ami
        </h2>
        <form class="space-y-6" (ngSubmit)="onSubmitAmi()">
          <div>
            <label
              for="amiName"
              class="block text-sm font-medium text-gray-700"
            >
              Nom
            </label>
            <div class="mt-1">
              <input
                id="amiName"
                name="amiName"
                type="text"
                autocomplete="off"
                required
                [(ngModel)]="ami.id2"
                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"

                />
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <button
              type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-500 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            >
              Ajouter l'ami
            </button>

          </div>
        </form>
      </div>
    </div>
    <div class="bg-white mt-8 w-full md:w-[700px] rounded-xl py-8 ml-auto mr-auto">
      <h2 class="text-center text-2xl font-extrabold text-gray-700 pb-2">
        Liste des amis
      </h2>
      <ul class="mx-14">
        <li *ngFor="let ami of amiDisplay.id2" class="flex my-3 items-center justify-between">
          <div>
            <p class="font-bold">{{ ami.nom }}</p>
          </div>
          <button class="bg-red-500 text-white font-bold px-[8px] rounded-full pb-1"
          (click)="deleteAmi(ami.nom)" >x</button>
        </li>
      </ul>
    </div>
    <div class="flex flex-col items-center lg:max-w-xl lg:mr-auto lg:ml-auto">
        <div class="flex justify-center w-full py-5">
            <div class="w-full mx-5">
                <div class="relative rounded-full text-gray-600 focus-within:text-gray-400 w-full">
                    <span class="absolute inset-y-0 right-2 flex items-center pl-2">
                    </span>
                </div>
            </div>
        </div>
        <div class="flex justify-around w-3/4">
            <div class="w-1/5 flex flex-col justify-end">
                <div class="flex flex-col items-center">
                    <img src="https://randomuser.me/api/portraits/women/66.jpg" alt="Profile photo"
                        class="rounded-full w-16 h-16 object-cover">
                    <span class="font-bold text-white text-lg mt-2">Mikki</span>
                </div>
                <div class="bg-purple-600 rounded-t-2xl w-full h-24 mr-4 flex text-center justify-center text-white"><span
                        class="font-bold text-2xl pt-2">2</span></div>
            </div>
            <div class="w-1/5 flex flex-col justify-end">
                <div class="flex flex-col items-center">
                    <img src="https://randomuser.me/api/portraits/women/65.jpg" alt="Profile photo"
                        class="rounded-full w-16 h-16 object-cover">
                    <span class="font-bold text-white text-lg mt-2">Pelodu35</span>
                </div>
                <div class="bg-purple-400 rounded-t-2xl w-full h-32 mr-4 flex text-center justify-center text-white"><span
                        class="font-bold text-2xl pt-2">1</span></div>
            </div>
            <div class="w-1/5 flex flex-col justify-end">
                <div class="flex flex-col items-center">
                    <img src="https://randomuser.me/api/portraits/women/35.jpg" alt="Profile photo"
                        class="rounded-full w-16 h-16 object-cover">
                    <span class="font-bold text-white text-lg mt-2">Jhonny23</span>
                </div>
                <div class="bg-purple-800 rounded-t-2xl w-full h-16 mr-4 flex text-center justify-center text-white"><span
                        class="font-bold text-2xl pt-2">3</span></div>
            </div>
        </div>
    </div>
    <div class="px-3 pt-5 pb-20 bg-white rounded-t-3xl lg:max-w-xl lg:mr-auto lg:ml-auto">
        <div class="flex items-center justify-between px-6 py-4 bg-white      ">
            <div class="flex items-center">
                <span class="font-bold text-gray-700 text-2xl mr-4">01</span>
                <div class="flex ml-10">
                    <img src="https://randomuser.me/api/portraits/women/65.jpg" alt="Profile photo"
                        class="rounded-full w-12 h-12 mr-4 object-cover">
                    <div>
                        <h3 class="font-bold text-gray-700 text-lg mb-1">Pelodu35</h3>
                        <span class="text-gray-500 text-sm">5000 points</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <span class="font-bold text-green-500 mr-4">+3</span>
                <!-- svg a trouver : type caret up et down  -->
            </div>
        </div>
        <div class="flex items-center justify-between px-6 py-4 bg-white      ">
            <div class="flex items-center">
                <span class="font-bold text-gray-700 text-2xl mr-4">02</span>
                <div class="flex ml-10">
                    <img src="https://randomuser.me/api/portraits/women/66.jpg" alt="Profile photo"
                        class="rounded-full w-12 h-12 mr-4 object-cover">
                    <div>
                        <h3 class="font-bold text-gray-700 text-lg mb-1">Mikki</h3>
                        <span class="text-gray-500 text-sm">4800 points</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <span class="font-bold text-red-500 mr-4">-1</span>
                <!-- svg a trouver : type caret up et down -->
            </div>
        </div>
        <div class="flex items-center justify-between px-6 py-4 bg-white      ">
            <div class="flex items-center">
                <span class="font-bold text-gray-700 text-2xl mr-4">03</span>
                <div class="flex ml-10">
                    <img src="https://randomuser.me/api/portraits/women/35.jpg" alt="Profile photo"
                        class="rounded-full w-12 h-12 mr-4 object-cover">
                    <div>
                        <h3 class="font-bold text-gray-700 text-lg mb-1">Jhonny23</h3>
                        <span class="text-gray-500 text-sm">4400 points</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <span class="font-bold text-red-500 mr-4">-2</span>
                <!-- svg a trouver : type caret up et down -->
        </div>
        </div>
        <div class="flex items-center justify-between px-6 py-4 bg-white      ">
            <div class="flex items-center">
                <span class="font-bold text-gray-700 text-2xl mr-4">04</span>
                <div class="flex ml-10">
                    <img src="/assets/images/user4.jpg" alt="Profile photo"
                        class="rounded-full w-12 h-12 mr-4 object-cover">
                    <div>
                        <h3 class="font-bold text-gray-700 text-lg mb-1">Julia45</h3>
                        <span class="text-gray-500 text-sm">4000 points</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <span class="font-bold text-red-500 mr-4">-1</span>
                <!-- svg a trouver : type caret up et down -->
        </div>
        </div>
        <div class="flex items-center justify-between px-6 py-4 bg-white      ">
            <div class="flex items-center">
                <span class="font-bold text-gray-700 text-2xl mr-4">05</span>
                <div class="flex ml-10">
                    <img src="https://randomuser.me/api/portraits/women/62.jpg" alt="Profile photo"
                        class="rounded-full w-12 h-12 mr-4 object-cover">
                    <div>
                        <h3 class="font-bold text-gray-700 text-lg mb-1">Rigetato</h3>
                        <span class="text-gray-500 text-sm">3800 points</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <span class="font-bold text-green-500 mr-4">+2</span>
                <!-- svg a trouver : type caret up et down  -->
        </div>
        </div>
        <div class="flex items-center justify-between px-6 py-4 bg-white      ">
            <div class="flex items-center">
                <span class="font-bold text-gray-700 text-2xl mr-4">06</span>
                <div class="flex ml-10">
                    <img src="https://randomuser.me/api/portraits/women/64.jpg" alt="Profile photo"
                        class="rounded-full w-12 h-12 mr-4 object-cover">
                    <div>
                        <h3 class="font-bold text-gray-700 text-lg mb-1">Zigo</h3>
                        <span class="text-gray-500 text-sm">2300 points</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <span class="font-bold text-red-500 mr-4">-4</span>
            </div>
        </div>
    </div>
    </div>


